.organizadores{
    display: flex;
    align-items: center;
    justify-content: center;
}

.organizadores form{
    background: var(--branco);
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}
.organizadores form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--letra);
    text-align: center;
}
.organizadores form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}
.organizadores form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--letra);
    text-transform: none;
}

.organizadores form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
} 
.organizadores form .error-msg{
    margin: 10px 0;
    display: block;
    background: var(--rosa);
    color: var(--branco);
    border-radius: 5px;
    font-size: 20px;
}

