.eventos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventos form{
    background: var(--branco);
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.eventos form a{
    color: var(--rosa);
    font-size: 2rem;
}
.eventos form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--letra);
    text-transform: none;
}

.eventos form .box button{
    background: var(--branco);
    border-radius: 50%;
    font-size: 1.6rem;
    padding: 1rem 1.2rem;
}
.eventos form .box button i{
    color: var(--rosa);
}
.eventos form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
} 





