/* .eventos .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
} */


.eventos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.eventos form{
    background: var(--branco);
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}
/* .eventos form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--letra);
    text-align: center;
}
.eventos form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
} */
.eventos form a{
    color: var(--rosa);
    font-size: 2rem;
}
.eventos form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--letra);
    text-transform: none;
}

.eventos form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
} 




/* .eventos .box-container .box{
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 2.5rem;
    background: var(--branco);
    text-align: center;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.eventos .box-container .box h3{
    color: var(--letra);
    font-size: 2.2rem;
    padding: .5rem 0;
}
.eventos .box-container .box .icons a{
    color: var(--rosa);
    font-size: 1.5rem;
} */

/* .eventos .box::before{
    content: '';
    position: absolute;
    top: -4rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--verde);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    height: 25rem;
    width: 40%;
    z-index: -1;
}  */