.header{
    top: 0;
    left: 0;
    right: 0;
    background: var(--branco);
    border: var(--border);
    box-shadow: var(--box-shadow);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 9%;
}
.header .logo img{
    width: 25%;
}
.header .navbar a{
    color: var(--letra);
    font-size: 2rem;
    margin: 0 .8rem;
}

.header .navbar a:hover{
    color: var(--rosa);
}

.header a{
    color: var(--letra);
    font-size: 2rem;
    margin: 0 .8rem;
}

.header a:hover{
    color: var(--rosa);
}

.header .icons i{
    font-size: 2.5rem;
    color: var(--letra);
    cursor: pointer;
    margin-right: 2rem;
}
.header .icons i:hover{
    color: var(--rosa);
}

.header h2 {
    font-size: 2rem;
    color: var(--letra);
}
.header h2 span{
    color: var(--rosa);
}