@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --verde:#00CB9B;
    --azul:#3BA5E5;
    --rosa:#FF3859;
    --branco:#FFFFFF;
    --letra:#3F3F3F;
    --letra-leve:#7F7F7F;
    --border: .1rem solid rgba(0,0,0,.1);
    --border-hover: .1rem solid #444;
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    transition: all .2s linear;
    outline: none;
    font-family: "Poppins", sans-serif;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: 1rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--azul);
}
.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: .9rem 3rem;
    border-radius: .5rem;
    color: var(--letra);
    background: var(--verde);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}
.btn:hover{
    background: var(--rosa);
    color: var(--branco);
}

section{
    padding: 5rem 9%;
}
.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    
}
.heading::before{
    content: '';
    position: absolute;
    top: 50%; 
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: .01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}
.heading span{
    font-size: 3rem;
    padding: .5rem 2rem;
    color: var(--letra);
    background: var(--azul);
    border: var(--border);
}

#menu-bar{
    color: var(--letra);
    border:.1rem solid var(--branco);
    border-radius: .5rem;
    font-size: 3rem;
    padding: .5rem 1.2rem;
    cursor: pointer;
    display: none;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login form{
    background: var(--branco);
    border: var(--border);
    width: 40rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin: 2rem;
}

.login form a{
    color: var(--rosa);
    font-size: 2rem;
}
.login form .box{
    width: 100%;
    margin: .7rem 0;
    font-size: 1.6rem;
    border: var(--border);
    border-radius: .5rem;
    padding: 1rem 1.2rem;
    color: var(--letra);
    text-transform: none;
}

.login form .btn{
    text-align: center;
    width: 100%;
    margin: 1.5rem 0;
} 